.footer{
    margin-top: 40px;
    padding: 30px 0;
    border-top: 1px solid #ccc;
    text-align: center;
    font-size: 14px;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    margin: 0 10px;
    text-decoration: none;
}